html {
	box-sizing: border-box;
	font-family: arial, helvetica, sans-serif;
}
img {
	max-width: 100%;
}
*,*:before,*:after {
	box-sizing: inherit;
}

@media (min-width :1000px) {
	body {
		background-color: aqua;
	}
}

@media (max-width:600px) {
	body {
		background-color: gold;
	}
}